body {
  background: #fff;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1450px) {
    max-width: 1280px;
  }

  @media (max-width: 1280px) {
    max-width: 1250px;
    padding: 0 15px;
  }

  @media (max-width: 992px) {
    max-width: 970px;
    padding: 0 15px;
  }

  @media (max-width: 768px) {
    max-width: 740px;
    padding: 0 15px;
  }

  @media (max-width: 480px) {
    max-width: none;
    padding: 0 15px;
  }
}

/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--BLACK, #101010);
  backdrop-filter: blur(10px);
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  z-index: 1000;
  @media (max-width: 768px) {
    padding: 14px;
  }
}

.svg_logo_header {
  height: auto;
  max-width: 104px;
}

.svg_logo_header .toggler {
  fill: #fff;
  transform: translateX(-8%);
  transition: all ease-out 0.6s;
}

.svg_logo_header .toggler.animate {
  fill: #5fff61;
  transform: translateX(0);
}

.nav {
  @media (max-width: 950px) {
    display: none;
  }
}

.header_list {
  display: flex;
  gap: 0 24px;
}

.header_link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}

.header_tel_wrapp {
  display: flex;
  justify-content: end;
  width: 200px;
}

.header_tel {
  color: var(--GREEN-4, #71e873);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 12px;
  }
}

.header_tel_btn {
  margin-left: 2px;
  background-color: transparent;
  color: var(--GREY, #f4f4f4);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 12px;
  }
}

/* Hero */

.section_hero {
  padding-top: 75px;
  @media (max-width: 768px) {
    padding-top: 60px;
  }
}

.hero_wrapp {
  margin: 0 auto;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_schedule {
  margin-bottom: 60px;
  display: flex;
  gap: 0 3px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.hero_schedule::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../image/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_product_list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
}

.hero_title {
  margin-bottom: 30px;
  max-width: 760px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 32px;
  }
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.hero_description {
  margin-bottom: 20px;
  max-width: 686px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%; /* 19.8px */
}

.hero_form {
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  @media (max-width: 768px) {
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.hero_tel_input_wrapp {
  position: relative;
  height: 60px;
  display: flex;
  padding: 22px 24px;
  border-radius: 4px;
  border: 1px solid var(--GREY-2, #d8d8d8);
  background: var(--GREY, #f4f4f4);
}

.hero_tel_input_icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.hero_tel_county_input {
  width: 60px;
  padding-left: 23px;
  background: var(--GREY, #f4f4f4);
  color: #101010;
  outline: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 115%; /* 16.1px */
  text-transform: uppercase;
}
.hero_tel_input {
  width: 100%;
  background: var(--GREY, #f4f4f4);
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%; /* 16.1px */
  text-transform: uppercase;
  outline: none;
}

.hero_tel_input::placeholder {
  color: #757575;
}

.hero_tel_btn {
  padding: 22px 36px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--GREEN-2, #58d65a);

  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}

.hero_swiper_wrapp {
  position: relative;
  overflow: visible;
  width: 100%;
  margin: 0 auto;
}

.swiper-hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.hero_slider_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  top: 60px;
}

.swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  border-radius: 4px;
  border: 1px solid #9e9090;
  background: var(--GREY, #f4f4f4);
}

.swiper-pagination-bullet-active {
  width: 32px;
  height: 4px;
  background: var(--GREY-2, #d8d8d8);
  border: none;
}

.hero_percentage_text {
  max-width: 324px;
  display: flex;
  gap: 0 8px;
  color: var(--BLACK, #101010);
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
}
.hero_percentage_text::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-image: url("../image/approved.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Apple service */

.section_apple_service {
  padding: 80px 0;
  border-bottom: 1px solid #f4f4f4;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
}

.apple_service_description_wrapp {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.apple_service_description {
  text-align: center;
  color: var(--BLACK, #101010);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.apple_service_description_green {
  text-align: center;
  color: var(--GREEN, #53c855);
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
}

.apple_service_google_wrapp {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
}

.apple_service_google_link {
  display: flex;
  color: var(--BLACK, #101010);
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
}

.apple_service_google_link span {
  text-decoration: underline;
}

.apple_service_google_value {
  margin-left: 8px;
}

.apple_service_google_text {
  margin-left: 8px;
  color: var(--GREY-4, #4a4a4a);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.apple_service_slider_wrapp {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.apple_service_slider_card {
  border-radius: 4px;
  /* border: 1px solid var(--GREY, #f4f4f4); */
  display: flex;
  justify-content: center;
}

.apple_service_slider_card_wrapp {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.apple_service_slider_card_circle {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #71e873;
  color: #fff;
  font-size: 12px;
}

.apple_service_slider_card_name {
  font-size: 10px;
  font-weight: 600;
}
.apple_service_slider_card_text {
  color: var(--GREY-2, #8b8585);
  font-size: 10px;
}
.apple_service_slider_card_block {
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.apple_service_slider_card_icon {
  display: flex;
  gap: 0 2px;
}

.apple_service_slider_card_icon svg {
  width: 10px;
  height: 10px;
}

.apple_service_slider_card_item {
  font-size: 10px;
  font-weight: 600;
  padding: 4px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}
.apple_service_slider_card_reviews {
  font-size: 10px;
  font-weight: 500;
}
.apple_service_client_text {
  color: var(--GREEN, #53c855);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

/*Popular services */

.section_popular_services {
  padding: 80px 0;
  @media (max-width: 768px) {
    padding: 40px 0;
  }
}

.popular_services_title {
  margin-bottom: 60px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    margin-bottom: 40px;
    font-size: 32px;
  }
  @media (max-width: 480px) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.popular_services_table {
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.popular_services_table_row {
  width: 100%;
  padding: 20px 0;
  height: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-content: center;
  align-items: center;
  gap: 0 10px;
  transition: all 200ms ease-in-out;
}

.popular_services_table_row:not(:first-child) {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.popular_services_table_row:not(:first-child):hover {
  border-bottom: 1px solid #53c855;
}

.popular_services_table_row:not(:last-child) {
  border-bottom: 1px solid #f4f4f4;
}

.popular_services_table_wrapp_img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.popular_services_table_title {
  color: var(--DARK-3, #757575);
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
.popular_services_table_title:last-child {
  text-align: end;
}
.popular_services_table_type {
  margin-left: 8px;
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.popular_services_table_price {
  color: var(--BLACK, #101010);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
}

.popular_services_table_price span {
  color: var(--DARK-3, #757575);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  text-transform: lowercase;
}

.popular_services_table_time {
  width: 100%;
  text-align: end;
  color: var(--BLACK, #101010);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.popular_services_request_wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular_services_request_fox {
  margin-bottom: 10px;
}

.popular_services_request_text {
  margin-bottom: 20px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

.popular_services_request_additional_wrapp {
  max-width: 535px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 0 8px;
  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.popular_services_request_additional {
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}

.popular_services_request_additional_green {
  max-width: 90px;
  padding: 6px 8px;
  color: var(--GREEN-2, #58d65a);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border-radius: 4px;
  border: 2px dashed var(--GREEN, #53c855);
  @media (max-width: 400px) {
    margin: 0 auto;
  }
}
.popular_services_request_btn {
  display: inline-flex;
  padding: 22px 36px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--GREEN-2, #58d65a);

  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}

/* Availability service */

.section_availability_service {
  padding: 80px 0;
  background: rgba(83, 200, 85, 0.1);
}

.availability_service_repair_title {
  max-width: 753px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--BLACK, #101010);
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.32px;
  text-transform: uppercase;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.availability_service_repair_text {
  margin-bottom: 40px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.availability_service_repair_wrapp {
  margin-bottom: 160px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.availability_service_repair_box_left {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  padding: 40px;
  background: var(--GREEN-4, #71e873);
  border-radius: 8px;
  background-image: url("../image/availability-item1.svg"),
    url("../image/availability-item2.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 370px 370px;
}

.availability_service_repair_box_grow {
  flex-grow: 1;
}
.availability_service_repair_box_item {
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.availability_service_repair_box_left_title {
  margin-bottom: 20px;
  color: var(--BLACK, #101010);
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.availability_service_repair_box_left_desc {
  max-width: 454px;
  color: var(--BLACK, #101010);
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

.availability_service_repair_box_left_text {
  margin-left: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0 7px;
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  cursor: pointer;
}
.availability_service_repair_box_left_text::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../image/arrow-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.availability_service_repair_box_right {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  padding: 40px;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../image/availability-bg.jpg"), lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.availability_service_repair_box_right_title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
.availability_service_repair_box_right_desc {
  max-width: 400px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
}

.availability_service_repair_box_right_text {
  margin-left: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0 7px;
  color: var(--GREEN-4, #71e873);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  cursor: pointer;
}
.availability_service_repair_box_right_text::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../image/arrow-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.availability_service_wrapp {
  max-width: 788px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.availability_service_text {
  margin-bottom: 77px;
  /* color: var(--BLACK, #101010); */
  /* color: rgba(16, 16, 16, 0.1); */
  transition: color 0.3s;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

/* .active_text {
  color: var(--BLACK, #101010); 
} */

.char {
  display: inline-block;
  color: rgba(16, 16, 16, 0.1);
  transition: color 0.00001s ease-in-out;
}

.char.active_text {
  color: var(--BLACK, #101010);
}

.availability_service_text span {
  color: rgba(16, 16, 16, 0.1);
}

.availability_service_fox {
  margin-bottom: 80px;
}

.availability_service_title {
  padding-top: 80px;
  margin-bottom: 20px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.availability_service_description {
  margin-bottom: 40px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.availability_service_description_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 80px;
}
.availability_service_description_item {
  width: 200px;
  @media (max-width: 510px) {
    width: 100%;
  }
}

.availability_service_description_circle {
  margin-bottom: 15px;
  background: var(--GREEN, #53c855);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  border-radius: 100%;
}

.availability_service_description_text {
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.availability_service_description_text br {
  @media (max-width: 510px) {
    display: none;
  }
}

/* Repair options */
.section_repair_options {
  padding-top: 80px;
  @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.repair_options_title {
  margin-bottom: 40px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.repair_options_wrapp {
  max-width: 760px;
  margin: 0 auto;
}

.repair_options_list {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.repair_options_item {
  width: 246px;
  padding: 30px;
  border-radius: 8px;
  color: var(--GREY-2, #d8d8d8);
  border: 1px solid var(--GREY-2, #d8d8d8);
  @media (max-width: 532px) {
    width: 100%;
  }
}

.active {
  border: 2px solid var(--GREEN, #53c855);
  /* fill: var(--GREEN, #53c855); */
}

.repair_options_item:hover {
  /* border: 2px solid var(--GREEN, #53c8553f); */
}

.repair_options_item:hover svg {
  /* fill: var(--GREEN, #53c855); */
}

.repair_options_item svg {
  fill: currentColor;
  margin-bottom: 16px;
}

.active svg {
  fill: var(--GREEN, #53c855);
}

.repair_options_text {
  margin-bottom: 20px;
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}

.repair_options_desc {
  color: var(--GREY-4, #4a4a4a);
  font-size: 10px;
  font-weight: 400;
  line-height: 130%;
}

.repair_options_input_text {
  color: var(--DARK-3, #757575);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}
.repair_options_input_wrapp {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (max-width: 768px) {
    margin-bottom: 40px;
    grid-template-columns: 1fr;
  }
}
.repair_options_input_block {
  height: 60px;
  /* margin-bottom: 4px; */
  position: relative;
  display: flex;
  padding: 22px 24px;
  border-radius: 4px;
  border: 1px solid var(--GREY-2, #d8d8d8);
  background: var(--GREY, #f4f4f4);
}

.repair_options_input_icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.repair_options_input {
  width: 100%;
  height: 60px;
  margin-bottom: 4px;
  padding: 22px 24px;
  border-radius: 4px;
  border: 1px solid var(--GREY-2, #d8d8d8);
  background: var(--GREY, #f4f4f4);

  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}
.repair_options_input::placeholder {
  color: #757575;
}

.repair_options_input_county {
  width: 60px;
  padding-left: 23px;
  background: var(--GREY, #f4f4f4);
  color: #101010;

  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  outline: none;
}
.repair_options_input_tel {
  width: 100%;
  background: var(--GREY, #f4f4f4);
  color: #101010;

  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  outline: none;
}

.repair_options_input_tel::placeholder {
  color: #757575;
}
.repair_options_box_wrapp {
  max-width: 217px;
  padding-top: 14px;
}
.repair_options_box_text {
  color: var(--GREY-4, #4a4a4a);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.repair_options_box_text_green {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  color: var(--GREY-4, #4a4a4a);
}

.repair_options_box_text_green a {
  color: var(--GREEN, #53c855);
}

.repair_options_btn {
  width: 100%;
  height: 60px;
  padding: 22px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--GREEN-2, #58d65a);
  border-radius: 4px;

  color: var(--BLACK, #101010);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}

.repair_options_lub {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: var(--BLACK, #101010);
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.repair_options_lub::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--GREY, #f4f4f4);
}

.repair_options_lub::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--GREY, #f4f4f4);
}

/* Visit service */

.section_visit_service {
  padding-top: 80px;
  @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.visit_service_title {
  margin-bottom: 20px;
  color: var(--BLACK, #101010);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.visit_service_text {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 37px;
  display: flex;
  gap: 0 3px;
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.visit_service_text::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../image/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.map {
  position: relative;
  max-width: 1562px;
  height: 523px;
  margin: 0 auto;
}
.map_frame {
  width: 100%;
  height: 100%;
}

.map_block {
  position: absolute;
  left: 50%;
  top: calc(100% - 108px);
  transform: translate(-50%, 0);
  width: 296px;
  max-width: 100%;
  padding: 4px 24px 4px 4px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background: var(--GREEN, #53c855);
  @media (max-width: 425px) {
    top: calc(100% - 195px);
  }
}

.map_adress {
  margin-bottom: 4px;
  color: var(--BLACK, #101010);
  font-size: 14px;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
}
.map_text {
  color: var(--BLACK, #101010);
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

/* Footer */
.footer {
  padding: 10px;
}
.footer_text {
  text-align: center;
  color: #757575;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

/* Chat links */
.chat_links_wrapp {
  position: fixed;
  bottom: 50px;
  right: 10%;
  /* width: 150px; */
  display: flex;
  gap: 0 20px;
  align-items: flex-end;
  z-index: 9999999;
}
.chat_links_btn {
  background-color: transparent;
}
.chat_links_list {
  display: none;
  flex-direction: column;
  gap: 8px 0;
  position: fixed;
  bottom: 115px;
}
